
/* Contact */

.Contact {
	padding: 4.5em 0;
}

/* Contact Methods */

.ContactMethods h3 {
	color: #424242;
	font-size: 3em;
	margin: 0 0 .625em;
}

/* Contact Methods Nav */

.ContactMethodsNav {
	display: block;
	width: 100%;
	max-width: 60em;
}

.ContactMethodsNav-list {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: center;
	justify-content: center;
}

/* Contact Methods Nav Item */

.ContactMethodsNavItem {
	margin: 0 0 1em;
	min-width: 12em;
}

/* Contact Nav Item select area */

.ContactMethodsNavItem-select-area {
	-webkit-align-items: center;
	align-items: center;
	border-radius: 8px;
	cursor: pointer;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: column;
	flex-flow: column;
	padding: 1.5em 0 1.3125em;
	width: 100%;
}

.ContactMethodsNavItem-select-area:hover {
	background-color: #eeeeee;
}

/* Contact Nav Item icon */

.ContactMethodsNavItem-icon {
	-webkit-align-items: center;
	align-items: center;
	border: solid 2px #1e88e5;
	border-radius: 50%;
	color: #1e88e5;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	height: 3.75em;
	margin: 0 0 1em;
	width: 3.75em;
}

.ContactMethodsNavItem-icon span {
	font-size: 1.5em;
	font-weight: 600;
}

/* Contact Nav Item title */

.ContactMethodsNavItem-title {
	color: #616161;
	font-size: 1.125em;
	font-weight: 600;
}

/* Contact Methods Content */

.ContactMethodsContent {
	margin: 0 0 3em;
	max-width: 60em;
	position: relative;
	width: 100%;
}

/* Contact Methods Item */

.ContactMethods-item {
	display: none;
	height: 100%;
	left: 0;
	overflow-y: auto;
	position: relative;
	top: 0;
	width: 100%;
}

.ContactMethods-item.is-active {
	display: block;
}

/* Contact Methods item themes */

.ContactMethods-item--phone,
.ContactMethods-item--mobile {
	padding: 1em 0 0 0;
}

.ContactMethods-item--email.is-active {
	-webkit-align-items: center;
	align-items: center;
	color: #1e88e5;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	font-size: 3em;
	height: 100%;
	-webkit-justify-content: center;
	justify-content: center;
	width: 100%;
}